<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<div th:replace="~{fragments :: head}"></div>
	<title>Crea Ticket</title>
</head>

<body>
	<nav th:replace="~{navbar :: navbar('tickets')}"> </nav>
	<input type="hidden" name="admin_id" th:value="${adminId}">
	<div class="container form-container">
		<h1 class="d-flex justify-content-center">Modifica Ticket</h1>
		<form id="ticket-form" th:object="${ticket}" th:action="@{/tickets/edit/{id} (id=${ticket.id})}" th:method="post" class="row g-3">
			<div class="col-md-12 form-group">
				<label for="titolo" class="form-label">Titolo</label>
				<input type="text" class="form-control" id="titolo" th:errorClass="is-invalid" placeholder="Titolo"
					th:field="*{titolo}" readonly>
				<div th:if="${#fields.hasErrors('titolo')}" class="invalid-feedback">
					<ul>
						<li th:each="err : ${#fields.errors('titolo')}" th:text="${err}">
						</li>
					</ul>
				</div>
			</div>
			
			<div class="col-md-12 form-group">
				<label for="descrizione" class="form-label">Descrizione</label>
				<textarea id="descrizione" th:errorClass="is-invalid" name="descrizione"
					placeholder="Descrivi il problema o la richiesta" th:field="*{descrizione}" readonly></textarea>

				<div th:if="${#fields.hasErrors('descrizione')}" class="invalid-feedback">
					<ul>
						<li th:each="err : ${#fields.errors('descrizione')}" th:text="${err}">
						</li>
					</ul>
				</div>
			</div>

			<select class="form-select form-select-sm" aria-label="Small select example">
				<option selected>Modifica Stato</option>
				<option value="1">Da fare</option>
				<option value="2">In corso</option>
				<option value="3">Completato</option>
			</select>

			<select class="form-select form-select-sm" aria-label="Small select example" disabled>
				<option selected>Categorie</option>
				<option value="1">Problemi Tecnici</option>
				<option value="2">Richieste di Assistenza</option>
				<option value="3">Segnalazioni</option>
				<option value="4">Richieste Amministrative</option>
				<option value="5">Manutenzione</option>
			</select>

			<div th:text="${operatori}"></div>
			<label for="operatore">Operatore Assegnato</label>
			<select id="operatore" name="operatore" th:field="*{operatore}">
				<option value="">Seleziona un operatore</option>
				<!-- Lista dinamica degli operatori -->
				<option th:each="operatore : ${allOperatori}" th:value="${operatore.id}" th:text="${operatore.username}"
					required>
				</option>
			</select>

			<button type="submit">Modifica Ticket</button>
		</form>

		<a href="/tickets" class="back-btn">Torna all'elenco</a>
	</div>
	<div th:replace="~{fragments :: scripts}"></div>
</body>

</html>