<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<div th:replace="~{fragments :: head}"></div>
	<title>Tickets</title>
</head>

<body>
	<nav th:replace="~{navbar :: navbar('tickets')}"> </nav>
	<div class="container">
		<h1>Elenco dei Tickets</h1>
		<form class="search-form" method="get" action="/tickets">
			<input type="text" name="keyword" placeholder="Cerca ticket" value="">
			<button type="submit">Cerca</button>
		</form>


		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Titolo</th>
						<th>Descrizione</th>
						<th>Stato</th>
						<th>Data Creazione</th>
						<th>Data Modifica</th>
						<th>Operatore</th>
						<th>Categoria</th>
						<th>Note</th>
						<th>Azioni</th>
						<th>Azioni</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="ticket : ${tickets}">
						<td th:text="${ticket.titolo}"></td>
						<td th:text="${ticket.descrizione}"></td>
						<td th:text="${ticket.stato}"></td>
						<td th:text="${ticket.dataCreazione}"></td>
						<td th:text="${ticket.dataModifica}"></td>
						<td th:text="${ticket.operatore != null ? ticket.operatore.username : 'Non assegnato'}"></td>
						<td th:text="${ticket.categoria.nome}"></td>
						<td th:text="${ticket.note}"></td>
						<td>
							<a class="btn btn-primary" th:href="@{/tickets/show/{id}(id=${ticket.id})}"><i
									class="fa-solid fa-ticket"></i></a>
							<a class="btn btn-success" th:href="@{|/tickets/edit/${ticket.id}|}"><i
									class="fas fa-edit"></i></a>
						</td>
						<td>
							<form th:action="@{'/tickets/delete/{id}'(id=${ticket.id})}" method="post"
								style="display:inline-block;" sec:authorize="hasAuthority('ADMIN')">
								<button class="btn btn-danger" type="submit"
									onclick="return confirm('Vuoi eliminare questo ticket?')"><i
										class="fas fa-trash"></i></button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>


		<div class="btn-group">
			<a href="/tickets/create">Crea Nuovo Ticket</a>
		</div>
	</div>
	<div th:replace="~{fragments :: scripts}"></div>
</body>

</html>